@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background: #f3f7f2;
}

.navbar-nav{
    margin-left: auto;
    font-family: sans-serif;
}

.container-fluid img{
    height: 50px;


}


.wrapper{
    min-height: 100vh;
    background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(images/Gemini_Generated_Image_txato1txato1txat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    /* min-width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
}

.content{
   display: flex;
   flex-direction: column;
    padding: 50px;
    height: 400px;
    width: 600px;
    /* border: 1px solid; */
    margin-top: 60px;
}
.title{
    font-size: 4.5rem;
     font-family: "Bricolage Grotesque", sans-serif;
}
.lorem{
    color: black;
}
.icon{
    display: flex;
    gap: 10px;
   margin-top: 20px;
}
.icon img{
    height: 30px;
    transition: 0.3s;
    cursor: pointer;
    
}
.icon img:hover{
    transform: scale(1.5);
}


@media screen and (max-width: 768px) {
    .content{
        padding: 0px 5px;
        width: 350px;
        row-gap: 30px;
        /* border: 1px solid; */
        margin-left: 20px;
    }
    .title{
        font-size: 3rem;
    }
    .icon{
        padding: 5px;
        margin-top: 10px;
    }
    .btn{
        display: none;
    }
 
    
}
@media screen and (max-width:600px) {
    .wrapper{
        background-position: top;
    }
    .content{
        padding: 5px 5px;
        width: 300px;
        row-gap: 20px;
        margin-top: 80px;
        /* margin-top: ; */

    }
    .icon{
        padding-left: 5px;
    }
    .title{
        font-size: 2.5rem;
    }

}

.grid{
display: grid;
grid-template-columns: repeat(4,1fr);
padding: 100px;
gap: 20px;
}
.item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}
.item:hover{
   transform: scale(1.1);
}
.first img{
    height: 50px;
    width: 50px;
}
.blue p{
    font-size: bold;
}

@media screen and (max-width: 768px) {
    .grid{
        padding: 20px;
        grid-template-columns: repeat(3,1fr);
      
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    
}
@media screen and (max-width: 600px) {
    .grid{
        padding: 10px;
        grid-template-columns: repeat(2,1fr);

    }
    
}

.feedback{
    padding: 50px;
    text-align: center;
}

.four{
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reviews section  */
.reviews{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.customer{
    padding: 40px;
    text-align: center;
}
.customer > h1{
    border-bottom: 2px solid rgb(201, 198, 198);
    display: inline;
}
.flex{
    display: flex;
    justify-content: center;

   
}

.review{
    /* border: 1px solid   ; */
    /* background-color: rgba(0, 0, 0, 0.445); */
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);;
    box-shadow:8px 8px 16px #bebebe,
    -8px -8px 16px #ffffff81;
    color: #333;
 

}
span{
    margin-left: 10px;
    font-size: bold;
}
.name{
    font-size: bold;
}
.second img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}





.justify{
    display: flex;  
    justify-content: center;
    align-items: center;

}


@media screen and (max-width: 600px){
    .feedback{
        padding: 10px;
    }
    .four{
        padding: 10px;
    }
    .customer{
        padding: 10px;
    }

    .reviews{
        padding: 10px;
    }
    .reviews{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .justify{
        padding: 10px;
    }
    footer{
        text-align: center;
    }
}



footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 211, 169);
}